
[class^="wrap-field"] { max-width:488px; margin:0 auto;overflow: hidden; text-align:center}
.wrap-field-compte { max-width:806px; margin-top:40px}
.title-field { text-transform:uppercase; text-align:center; padding:15px 25px; background:#141324; color:#f15e53; font:normal 18px/21px RL; margin:-25px -25px 20px; min-height:51px}
label { color:#353535; font:normal 16px/21px Rm; display:block; width:100%; padding-bottom:10px; margin:0}
form { padding:20px 0}
input:not([type="submit"]) { width:100%;}
.field { padding-bottom:20px; text-align:left}
.field select { border: 1px solid #eaeaea;padding: 10px;min-height: 45px;font:normal 15px/21px Rl;color:#231f20; width:100%}
.submit { text-transform: uppercase;color: #fff; font: normal 15px/21px Rr; border: none; background: #f15e53; border-radius: 4px; padding: 12px 27px 9px;cursor: pointer; margin-top:14px}
select:focus option,
:focus { outline:none}
.sub-title {color:#f15e53; font:normal 18px/21px RL; background:#f8f8f8; text-transform:uppercase; padding:10px 25px; margin:0 -25px 10px}
.content-chips { min-height:72px; width:100%;border: 1px solid #eaeaea; font: normal 15px/21px Rl; padding: 10px; text-align:left}
.content-chips ul { margin:0; padding:0}
.content-chips li { display:inline-block; vertical-align:top; padding:4px 32px 4px 4px; background:#f5f5f5; border-radius:4px; border:1px solid #d8d8d8; position:relative; margin-right:10px; margin-bottom:5px;}
.content-chips li span { font:normal 14px/17px Rm; width:20px; height:20px; color:#fff; text-align:center; border-radius:50%; background:#dad6d6; display:block; position:absolute; right:4px; top:50%; margin-top:-10px; cursor:pointer; overflow:hidden}
.modal { left:230px}
.modal-dialog { max-width:488px; width:100% !important;}
.modal-content { border-radius:10px; border:none}
.confirmation-wrap { background:#fff; max-width:488px; width:100% !important; margin:0 auto; border-radius:10px; text-align:center; overflow:hidden; position:relative; padding-bottom:47px;}
.title-ended { text-align:center; text-transform:uppercase; font:normal 20px/26px Rr; color:#fff; background:#141324; padding:40px 0 60px;position:relative}
.title-ended:after { content:""; display:block; width:62px; height:62px; border-radius:50%; background:url(../images/icon-done.svg) center no-repeat #16c43b; position:absolute; bottom:-31px; left:0; right:0; margin:0 auto}
.confirmation-wrap p { padding:52px 25px 40px}
.confirmation-wrap a { margin:0}
.modal-body { padding:0}
.img-thumb { display:block; margin:-30px auto 66px; line-height:0; width:80px; height:80px;}
.img-thumb img { border-radius:50%; width:100%; height:auto}
.ttl-infos { position:relative; padding:10px 47px; border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; margin:0 -25px 20px}
.ttl-infos  span{ font:normal 22px/21px Rl; color:#f15e53; text-transform:uppercase; float:left; display:inline-block; vertical-align:top; padding:9px 0}
.modif { display:block; float:right; border:none; color:#f15e53; border:1px solid #f15e53; cursor:pointer; text-transform:uppercase; padding:6px 10px 6px 37px; border-radius:5px; background:url(../images/icon-save.svg) 10px center no-repeat}
.half { width:50%; float:left; padding:0 50px 20px} 
.full { width:100%; clear:both; padding:0 50px 20px} 

.left-dash{ width:468px; float:left}
[class^="dash-item"] { background-color:#fff; min-height:210px; width:100%; max-width:468px; border-radius:10px; margin-bottom:10px;-webkit-box-shadow: 0px 15px 15px 0px rgba(50, 50, 50, 0.04);-moz-box-shadow:0px 15px 15px 0px rgba(50, 50, 50, 0.04);box-shadow:0px 15px 15px 0px rgba(50, 50, 50, 0.04); padding-left:198px; overflow:hidden}
[class^="dash-item"] .content { width:100%; height:210px; display:table;}
[class^="dash-item"] .content a {color:white}
[class^="dash-item"] .content>div { display:table-cell; vertical-align:middle; text-align:center; width:100%; color:#fff; font:normal 20px/24px Rr; text-transform:uppercase}
[class^="dash-item"] .content>div span { display:block; font:normal 25px/38px RB; padding-bottom:20px;}
.display-nbr { display:inline-block; vertical-align:top; border:1px solid #fff; font:normal 36px/36px RR; padding:4px 10px; min-width:120px;}

.dash-item1 { background:url(../images/ndd-icone.svg) 32px center no-repeat #fff}
.dash-item1 .content {background: rgb(102,92,255);background: -moz-linear-gradient(90deg, #665cff 0%, #967bf2 100%);background: -webkit-linear-gradient(90deg, #665cff 0%, #967bf2 100%);background: linear-gradient(90deg, #665cff 0%, #967bf2 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#665cff",endColorstr="#967bf2",GradientType=1);}
.dash-item2 { background:url(../images/registrar-icone.svg) 46px center no-repeat #fff}
.dash-item2 .content {background: #5dc1dc;background: -moz-linear-gradient(90deg, #5dc1dc 0%, #425da5 100%);background: -webkit-linear-gradient(90deg, #5dc1dc 0%, #425da5 100%);background: linear-gradient(90deg, #5dc1dc 0%, #425da5 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5dc1dc",endColorstr="#425da5",GradientType=1);}
.dash-item3 { background:url(../images/hebergement-icone.svg) 51px center no-repeat #fff}
.dash-item3 .content {background: #fc932c;background: -moz-linear-gradient(90deg, #fc932c 0%, #fc5e2c 100%);background: -webkit-linear-gradient(90deg, #fc932c 0%, #fc5e2c 100%);background: linear-gradient(90deg, #fc932c 0%, #fc5e2c 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc932c",endColorstr="#fc5e2c",GradientType=1);}
.dash-item4 { background:url(../images/ip-Icone.svg) 32px center no-repeat #fff}
.dash-item4 .content {background: #e1549f;background: -moz-linear-gradient(90deg, #e1549f 0%, #a749a2 100%);background: -webkit-linear-gradient(90deg, #e1549f 0%, #a749a2 100%);background: linear-gradient(90deg, #e1549f 0%, #a749a2 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1549f",endColorstr="#a749a2",GradientType=1);}
.dash-item5 { background:url(../images/user-Icone.svg) 49px center no-repeat #fff}
.dash-item5 .content {background: #fd6797;background: -moz-linear-gradient(90deg, #fd8a97 0%, #fd6797 100%);background: -webkit-linear-gradient(90deg, #fd8a97 0%, #fd6797 100%);background: linear-gradient(90deg, #fd8a97 0%, #fd6797 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd8a97",endColorstr="#fd6797",GradientType=1);}

.right-dash{ width:calc(100% - 468px); float:left;width:-moz-calc(100% - 468px);width:-webkit-calc(100% - 468px);width:-ms-calc(100% - 468px); padding-left:14px;}
.bloc-graph { background:#fff; border-radius:10px; margin-bottom:10px;-webkit-box-shadow: 0px 15px 15px 0px rgba(50, 50, 50, 0.04);-moz-box-shadow:0px 15px 15px 0px rgba(50, 50, 50, 0.04);box-shadow:0px 15px 15px 0px rgba(50, 50, 50, 0.04); width:100%; min-height:651px}

.title-field span { text-transform:initial; color:#fff}

/* TABLE STYLE */
.filter { box-shadow: 0px 5px 20px rgba(0, 0, 0, .1); -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, .1); -ms-box-shadow: 0px 5px 20px rgba(0, 0, 0, .1); -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, .1); background: white; display: flex; justify-content: space-between; align-items: center; padding: 10px 20px; }
.filter input.searchInTable { flex: 1; max-width: 230px; background: url(../images/search_icon.png) no-repeat 15px center; }
.filter input.searchInTable::placeholder { padding-left: 40px;}
.filter label { font-size: 12px; padding: 0; width: inherit; }
.filter input,
.filter select { border-radius: 40px; }
.filter select { margin-left: 10px;}
.filter #do_filter { display: inline-block; vertical-align: middle; background: #00a1e4 url(../images/filter_icon.png) no-repeat 10px center; border: none; padding: 10px 10px 10px 40px; color: white; min-width: 100px; text-align: left; border-radius: 3px; text-transform: uppercase; font-size: 14px; }
.filter #reset_filter { background: #f15e53; font-size: 29px; text-align: center; color: white; border: none; border-radius: 3px; vertical-align: middle; line-height: normal;}

table.custom-styled .customized-thead th { text-align: center; border-bottom: none; background-color: #f15e53; color: white; padding: 18px 10px !important;}
table.custom-styled .customized-thead th.thematique { width: 160px;}
table.custom-styled { margin-bottom: 20px; border: none !important; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; overflow: hidden; box-shadow: 0px 5px 20px rgba(0, 0, 0, .1); -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, .1); -ms-box-shadow: 0px 5px 20px rgba(0, 0, 0, .1); -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, .1);}
table.custom-styled td { text-align: center; padding: 10px 5px !important; }
table.custom-styled tr >.sorting_1 { background: none !important; }
table.custom-styled td.thematique { text-align: left; }
td.thematique .tag { display: inline-block; background-color: #f5f5f5; border: 1px solid #ddd; padding: 5px 10px; border-radius: 20px; font-size: 11px; margin: 2px 0; width: auto }
table.custom-styled_wrapper .toolbar {float: left; }
.dataTables_wrapper .dataTables_paginate .paginate_button { min-width: inherit; padding: 0; border: none; font-size: 0; width: 35px; height: 35px; display: inline-block; vertical-align: middle;}

.dataTables_paginate .paginate_button.previous { background:#141324 url(../images/arrowdatatable.png) no-repeat left center !important;}
.dataTables_paginate .paginate_button.next { background: #141324 url(../images/arrowdatatable.png) no-repeat right center !important;}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { font-size: 14px;line-height: 35px; background: none; border: none; margin: 4px;}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {background-color: #d4d4d4 !important;}

/* new */

.field1 { margin-bottom:12px;}
.field1 label { text-align:left; float:left; width:38%; padding:12px 0}
.field1 input { width:62%; float:left}
.field1:after { content:""; display:block; width:100%; clear:both;}
.dataTables_wrapper .dataTables_paginate .paginate_button { min-width: inherit; padding: 0; border: none; font-size: 0; width: 35px; height: 35px; display: inline-block; vertical-align: middle; }
.dataTables_paginate .paginate_button.previous { background:#141324 url(../images/arrowdatatable.png) no-repeat left center !important;}
.dataTables_paginate .paginate_button.next { background: #141324 url(../images/arrowdatatable.png) no-repeat right center !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { font-size: 14px; line-height: 35px; background: none; border: none; margin: 4px; }
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled { background-color: #d4d4d4 !important; }
