
.wrap-field { max-width:482px; margin:0 auto;overflow: hidden; text-align:center}
.title-field { text-transform:uppercase; text-align:center; padding:15px 25px; background:#141324; color:#f15e53; font:normal 18px/21px RL; margin:-25px -25px 0}
label { color:#353535; font:normal 16px/21px Rm; display:block; width:100%; padding-bottom:10px;}
form { padding:20px 0}
input:not([type="submit"]) { width:100%;}
.field { padding-bottom:20px; text-align:left}
.field select { border: 1px solid #eaeaea;padding: 10px;min-height: 45px;font:normal 15px/21px Rl;olor:#231f20; width:100%}
.submit { text-transform: uppercase;color: #fff; font: normal 15px/21px Rr; border: none; background: #f15e53; border-radius: 4px; padding: 12px 27px 9px;cursor: pointer; margin-top:14px}
select:focus option,
:focus { outline:none}
.sub-title {color:#f15e53; font:normal 18px/21px RL; background:#f8f8f8; text-transform:uppercase; padding:10px 25px; margin:0 -25px 10px}