@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

@font-face {
  font-family: 'Maven Pro';
  src: 	url('../../assets/fonts/MavenPro-Regular.ttf')  format('truetype');
		font-weight: normal;
  		font-style: normal;
}

/* RESET */
body, ul, li, ol, form, h1, h2, h3, h4, h5, h6, div, span, p {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 1px transparent
}
ul			{ list-style-type:none}
a			{ border:none; text-decoration:none; color:#169bd5; outline:none}
body		{ margin:0; padding:0;font-family: 'Maven Pro'; font-size:16px; color:#333; }

* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
/* defaults */
.left { 
	float:left;
}
.right { 
	float:right;
	padding-left:4px;
}
.clear {
	clear:both;
	float:none;
	margin: 0;
}
.clear:after {
	content:"";
	display:table;
	clear: both;
}
/* BOUTTONS */
.green-btn {
    color: #fff;
    height: 35px;
    line-height: 31px;
    background: #55ab26;
    display: block;
    padding: 0px 10px;
    border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.btn-submit { 
	display:block
}
.btn-submit button,
.btn-submit input {
    background-color: #268cab;
    padding: 10px 125px;
    border: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    transition: all ease-in-out 450ms;
    -webkit-transition: all ease-in-out 450ms;
    -moz-transition: all ease-in-out 450ms;
    -ms-transition: all ease-in-out 450ms;
    -o-transition: all ease-in-out 450ms;
    width: auto !important;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
a.btn-submit {
    background-color: #169bd5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 10px 40px;
    border: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    transition: all ease-in-out 450ms;
    -webkit-transition: all ease-in-out 450ms;
    -moz-transition: all ease-in-out 450ms;
    -ms-transition: all ease-in-out 450ms;
    -o-transition: all ease-in-out 450ms;
}

/* TABLEAU */
.trig_table {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #999999;
	border-collapse: collapse;
	margin-top: 5px;
}
.trig_table tr {
  border: 1px solid #D9E4E6;
}
.trig_table tr:nth-child(odd) {
}
.trig_table th {
  display: none;
  border: 1px solid #ccc;
  color: #333;
  padding: 1em;
}
.trig_table th:first-child {
  display: table-cell;
  text-align: center;
}
.trig_table th:nth-child(2) {
  display: table-cell;
  text-align: center;
}
.trig_table td:nth-child(2) {
    text-align: center;
}
.trig_table th:nth-child(2):after {
  content: attr(data-th);
}
.trig_table td li {
    list-style-type: disc;
	list-style-position:inside;
	text-align: left;
}
.trig_table i {
	color:#333;
	padding: 0 5px;
	font-size: 1.6em;
}
td .option {
	text-align:center;
	display: inline-flex;
	/*padding-left: 30px; */
}
.trig_table td {
  display: block;
  word-wrap: break-word;
}
.trig_table td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .trig_table td {
    border: 1px solid #ccc;
  }
  .trig_table th:nth-child(2):after {
    display: none;
  }
  .trig_table th, .trig_table td {
    display: table-cell;
    padding: 1em;
	text-align:center
  }
}
.trig_table th, .trig_table td {
  margin: .5em 1em;
  font-size: 15px;
}
/* HEAD */
#header {
}
#header .top-panel {
	background:#eee;
	min-height:40px;
	border-bottom:1px solid #b5b5b5;
	width:100%;
	padding: 0 2px;
	/*padding:10px 10px;*/
	/*position:fixed;*/
	z-index:100;
	height:41px;
	/*  modidié*/

}
.sleft   { float: left;}
.top-panel #pAneltxt {
	line-height: 40px;
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
}
.top-panel .user_wlcm {
     display: block;
    padding: 0 25px;
    /*padding: 10px 25px; */
    /* border: 1px solid #b5b5b5; */
    box-shadow: 0px 0px 1px #333000 inset;
    -webkit-box-shadow: 0px 0px 1px #333000 inset;
    -moz-box-shadow: 0px 0px 1px #333000 inset;
    -ms-box-shadow: 0px 0px 1px #333000 inset;
    -o-box-shadow: 0px 0px 1px #333000 inset;
    color: #333;
    cursor: pointer;
    position: relative;
    line-height: 41px;
    font-size: 13px;
}
.top-panel .user_wlcm > a {
	position:absolute;
	opacity:0;
	visibility:hidden;
	z-index: 30;
	padding:0 25px;
	background-color:#fff;
	top:100%;
	width:100%;
	left:0;
	border:1px solid #b5b5b5;
	transition:all ease-in-out 300ms;
	-webkit-transition:all ease-in-out 300ms;
	-moz-transition:all ease-in-out 300ms;
	-ms-transition:all ease-in-out 300ms;
	-o-transition:all ease-in-out 300ms;
	text-align: center;
    color: #333;
	border-top: 0;
}
.top-panel .user_wlcm:hover > a{
	opacity:1;
	visibility:visible;
}
.top-panel .user_wlcm > a:hover{
	background-color:#169bd5;
	color:#fff
}
.showpanel {
	display:block;
}
.hidepanel {
	display:none
}
.user_wlcm i {
	margin-right:1em
}
main .pagesDivision{
}
/***************************************************************/
/************************WELCOME PAGE*************************/
/***************************************************************/
body.welcome {
  
    background-size: cover; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -ms-background-size: cover; 
}
#Homepage {
    /* padding: 20vh; */
    /* background-size: cover;  */
    /* -webkit-background-size: cover;  */
    /* -moz-background-size: cover;  */
    /* -ms-background-size: cover; */
    /* position: relative;  */
    /* background-color: #efefef; */
	
	padding: 176px;
    background: url(../../assets/images/welcome-bg.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

    

.welcome-container {
	max-width: 342px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.center {
    padding: 20px;
	color: #575757;
}

.center span {
    display: block;
    text-align: center;
    border-top: 1px solid #d8d8d8;
    padding-bottom: 30px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
}


/***************************************************************/
/************************CONNEXION PAGE*************************/
/***************************************************************/
/*LOGIN PAGES*/

#Loginpage {
    padding: 12vh;
    background-size: cover; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -ms-background-size: cover;
    position: relative; 
    background-color: #efefef;
}

fieldset { 
	border:none; 
	padding:0
}
.login-container {
    max-width: 342px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}
.heading-ttl {
    background-color: #268cab;
    color: #fff;
    padding: 30px;
    text-align: center;
}
.heading-ttl h1 {
    font-weight: bold;
}

.heading-ttl h2 {
    padding: 0;
    margin: 0;
    font-size: 21px;
    padding-top: 10px;
}
.heading-ttl span {
	display:block;
	font-size: 24px;
    font-weight: 700;
	margin-top: 10px;
}

input{
    border-color: #dadada!important;
}


.avatar_customer img{
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;	
	padding-bottom: 20px;
    width: 40%;
}
/** FIELDS FIRST LOGIN **/
.item-container {
    padding-top: 3px;
}
.item-container p {
    /*font-size:1em;*/
	font-size: 11px;
}
.item-container .center_blc {
	margin: 0 auto;
    padding: 30px;
    text-align: center;
}
.item-container h3 {
    text-transform: inherit;
    margin: 0 0 25px;
    font-size: 32px;
    font-weight: 700;
}
.formfields .input {
	display:block;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	padding: 4px 1px;
	width:100%;
	border:1px solid #7d7d7d;
	margin-bottom:20px;
}
.formfields input[placeholder] { 
	font-style:italic;
	color: gray;
	padding: 10px;
}
.remind {
	text-align: center;
    letter-spacing: .4px;
    margin-bottom: 1em;
}
.remind p, .remind input { 
	display:inline-block; 
	vertical-align:middle;
	font-size: 13px;
	text-align:center;
	margin:0 !important;
}
.btn-submit button:hover { 
	cursor:pointer;
	background-color:#156d94
}
.a-forgot-pass {
    margin: 10px 0;
}
.a-forgot-pass a{
    font-size: 13px;
}

h3#forgotpasstitle {
    font-size: 24px;
}
/** BOX POP-UP **/

.box-pop-up { 
	position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}
.box-pop-up .center_blc {
	max-width:370px;
}
.box-pop-up .item-container h3 {
    text-transform: initial;
	margin: 0 0 5px;
}
.ltl-consign {
    font-size: 11px;
    line-height: 16px;
    display: block;
    margin-bottom: 2em;
	padding-left: 5px;
    padding-right: 5px;
}
.resetbtn {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	color: #169bd5;
    background: none;
    border: none;
    margin-top: 1em;
}
/*** reset et1 ***/
.policies {
	padding-left: 15px;
}
.policies li {
	text-align:left
}
.policies li span {
	margin:0;
	line-height: 16px;
}
.policies li strong {
    font-size: 12px;
	margin-bottom: 1em;
    display: block;
}
/*** reset et3 ***/

.item-container .done-request i {
     color: #55ab26;
}

i.fa.fa-3x.fa-times-circle {
    color: red;
}
.done-request .mail-reset-dest {
    font-size: 14px;
    font-weight: 600;
	color:#333
}
#foot-notes { 	
	text-align:left;
	border-top:1px solid #333;
	margin-top: 35px;
	padding: 15px 0 0;
}
#foot-notes span {
    font-weight: 600;
    /*font-size: 12px;*/
	font-size: 11px;
    padding: 0;
}

#foot-notes .ltl-consign {
    font-weight: 100;
    padding-top: 3px;
}
div#maildone {
    padding-bottom: 35px;
}

.item-container .center_blcconf {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}


.item-container .center_blcfgtpwd {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}


.item-container .center_blcnpwd {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.item-container .center_blclogin {
	text-align: center;
}
/***************************************************************/
/************************DIVISION PAGE*************************/
/***************************************************************/
.rowpad { 
	display: table;
    width: 100%;
    height: 100%;
    margin-top: 45px;
}
.leftDivision { 
	position:fixed;
	height:100%;
	width:230px;
	background-color:#999;
	z-index: 60;
	top: 59px;
}
.leftDivision .avatar_customer {
	width:100%
}
.leftDivision .avatar_customer img{
    width:100%
}
.leftDivision .link-btn-blc {
    margin-top: 4px;
}
.leftDivision .link-btn-blc button {
	width:100%; 
	margin-bottom:10px;
	display:block;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border:none;
	padding:15px 5px;
	text-align:center;
	background-color:#fff
}
.rightDivision {
    padding-left: 230px;
    z-index: 10;
    padding-top: 59px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccc;
    min-height: 100%;
}
#divisionContent { 
	background: #efefef;
    display: table;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
}
#divisionContent .title {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
	font-size: 15px;
    font-weight: 500;
}
#divisionContent .detaildesc {
    margin: 1em 0;
    display: block;
    color: #f00;
	text-align: center;
}
.division_lst {
    max-width: 462px;
    margin: 0 auto;
}
.firstlvl {     
	display: inline-block;
}
.sub_list {
	padding-left:2em
}
.nb-of-find {
	color: #f00;
}
.collapse i {
    text-align: left;
}
/***************************************************************/
/************************USER PAGE*************************/
/***************************************************************/
/** USER LIST **/
/*** Top pannel ***/
.search-bloc { 
	margin:1em 0;
}
.usr-srch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	background: transparent;
	margin: 0;
	position: static;
}

.usr-srch--form {
	position: relative;
}	
.usr-srch--input-wrapper {
}

.usr-srch--input {
	width: 100%;
}


.usr-srch--input {
	    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0 10px 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 35px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    width: 194px;
    background-color: #dddddd;

}

.usr-srch--input::-webkit-search-cancel-button {
	height: 15px;
	width: 15px;
	background:#ddd;
	border-radius:50%;	
	position:relative;
	right:10px
}

input#recherche::-webkit-search-cancel-button {
    font-size: 16px;
}

i.fa.fa-3x.fa-search {
    position: absolute;
    top: 64px;
    display: block;
    border: none;
    background: transparent;
    font-family: 'FontAwesome';
    font-size: 16px;
    padding: 7px 15px;
    color: #8f949a;
}

input#deleteselection {
    background-color: #fff;
    border: none;
    font-size: 14px;
	cursor: pointer;
    color: #169bdd;
}

input#deleteselection:hover {
    color: #000;
}

.usr-srch--input:focus {
	outline: none;
	border-color: #333;
	width: 220px;
	/*margin-bottom: 5px;	*/
}
.usr-srch--input:focus.usr-srch--submit {
 	color: #333; 
}
.usr-srch--submit:hover {
  color: #333;
  cursor: pointer;
}
::-webkit-input-placeholder {
	color: #888;  
}
input:-moz-placeholder {
  color: #888
}
.usr-create {
    position: relative;
    top: 50px;
}
.select_cat span, .select_cat ul, .select_cat li { 
	display:inline-block;
	vertical-align:middle
}
.select_cat li {
	margin-right: -4px;
}
.select_cat li > a {
    margin: 0 5px;
}
.select_cat li.line {
    border-right: 1px solid #333;
    height: 20px;
    margin: 0 3px 0 10px;
}
.pagination {
	text-align:center
}
.pagination select {
	float:right
}



/** CREATE USER **/

.item-container h3 {
    color: #6a6a6a;
    font-size: 22px;
    font-weight: 100;
    padding: 10px;
}

.item-container span {
    color: #6a6a6a;
}
.innerform-container {
	text-align:center;
}
.innerform-container h3 {
    text-transform: initial;
    margin: 0 0 5px;
}
.innerform-container .center_blc {
    max-width: 400px;
}
.inline-form label span, .inline-form .input { 
	display:inline-block;
	vertical-align:middle;
	width:inherit;
	margin:0;
	padding: 5px 0;
}
.inline-form > div {
    text-align: left;
	margin-bottom:1em;
}
.inline-form > div:nth-child(3) input {
}
.inline-form > div .input {
    width:calc(100% - 120px);
	padding-left:10px;
}
.inline-form label span {
    width: 120px;
	float: left;
	font-size: 14px;
}
.w-20, .w-25, .w-30,.w-40, .w-50, .w-60, .w-70, .w-75 {	
	float:left;
	text-align: left;
}
.chkbox {
	display: inline-block;
    vertical-align: top;
	font-size:14px
}
.chkbox span {
	display:block;
}
.chkbox input {
	margin:5px 5px 5px 0;
	vertical-align:middle
}
.role {
    font-size: 14px;
}
.role label{
	width:120px;
	float: left;
}
.usr-sel {
	padding-left: 120px;
	font-size: 14px;	
}
.usr-sel p {
    border-bottom: 1px solid #333;
    line-height: 18px;
	display: inline-block;
}
.usr-sel .alignSelctright {
	text-align:right;
	margin: 8px 0 0;
}
.usr-sel > div .chkbox {
    margin-top: 1em;
}

/** EDIT USER **/
.withpad {
	padding-left: 23px;
}
.withpad input {
	padding:10px 20px;
	margin: 0 auto;
    display: block;
}
.no-border {
    border: none !important;
}
.innerpopup .center_blc {
	max-width:inherit
}
.innerpopup input {
    display: inline-block;
    min-width: 115px;
    text-align: center;
    padding: 10px 0;
    margin: 0 5px;
}
.innerpopup input.green-input {	
    background-color: #268cab;
}
.innerpopup .mail {
    font-size: 14px;
    margin-bottom: 2em;
    display: block;
}
.w-20 {	width:20%;}
.w-25 {	width:25%;}
.w-30 {	width:30%;}
.w-40 {	width:40%;}
.w-50 {	width:50%;}
.w-60 {	width:60%;}
.w-70 {	width:70%;}
.w-75 {	width:75%;} 

/*create customer home*/

.fullWidth { padding:0}

button#deleteuser {
    background-color: #fff;
    border: none;
}

thead#infousertitle {
       background-color: #268cab;
}

thead#infousertitle th {
    color: #fff;
    font-weight: 700;
}

.aftertable {
    display: inline-block;
    padding: 10px;
    background-color: #8f949a;
    color: #fff;
	width: 100%;
	font-size: 14px;
}

.aftertable .gauche {
    float: left;
}


.aftertable .droite {
    float: right;
}

.navbar-header {
    list-style: none;
    padding: 12px;
    line-height: 1.35;
    padding-left: 30px;
}

.navbar-header li a {
    color: #000;
}

.navbar-header li a:hover {
    color: #169bdd;
}


/********* create user *************/

.item-container .center_blc2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px 20px 20px;
    border: 1px solid #333;
    background-color: #fff;
}

.center_blc2 h3 {
    text-align: left;
    text-decoration: underline;
    font-size: 14px;
}

table.createcustomertable tr td label {
    float: left;
    font-size: 14px;
    padding-left: 40px;
}



table.createcustomertable {
    display: table;
    width: 100%;
}

input.organisation,
.createcustomertable input.form-control {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    padding: 4px 1px;
    width: 100%;
    border: 1px solid #7d7d7d;
    color: gray;
    padding: 10px;
	margin-top: 5px;
}





table.createcustomertable tr td {
    width: 50%;
    font-size: 14px;
    color: #6a6a6a;
	
}

.btn-submituser button, .btn-submituser input {
    background-color: #55ab26;
    padding: 10px 40px;
    border: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    transition: all ease-in-out 450ms;
    -webkit-transition: all ease-in-out 450ms;
    -moz-transition: all ease-in-out 450ms;
    -ms-transition: all ease-in-out 450ms;
    -o-transition: all ease-in-out 450ms;
    width: auto !important;
	cursor: pointer;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}



.fa-info-circle:before {
    content: "\f05a";
    padding: 5px;
	font-size: 14px;
}

a.btn.btn-defaultuser {
    background-color: #268cab;
    padding: 9px 34px;
    border: none;
    color: #fff;
    margin: 0 auto;
    transition: all ease-in-out 450ms;
    -webkit-transition: all ease-in-out 450ms;
    -moz-transition: all ease-in-out 450ms;
    -ms-transition: all ease-in-out 450ms;
    -o-transition: all ease-in-out 450ms;
    width: auto !important;
    font-size: 14px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}


	
.createuserbutton {
    display: block;
    width: 100%;
    padding-left: 85px;
    padding-top: 35px;
}
.btn-submituser {
    width: 50%;
	float: left;
}

.btn-canceluser {
    padding-top: 8px;
    display: block;
    width: 50%;
    float: left;
    margin-left: -30px;
}

/*********edit license*************/ 

.item-container .center_blc3 {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px 20px 20px;
    border: 1px solid #333;
    background-color: #fff;
}



.center_blc3 h3 {
    text-align: left;
    text-decoration: underline;
    font-size: 14px;
}

.souslicence {
    font-size: 12px;
    text-align: left;
    padding-top: 20px;
    padding: 15px;
}
.souslicence h4 {
    font-weight: bold;
    padding-bottom: 10px;
    border-top: 1px solid;
}

i.fa.fa-3x.fauser {
    background: url(../../assets/images/license.png) no-repeat;
    width: 50px;
    height: 50px;
	content:none;
}

.createuserbuttonedit	 {
    display: block;
    width: 100%;
    padding-left: 85px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.btn-canceledit {
    padding-top: 8px;
    display: block;
    width: 50%;
    float: left;
    margin-left: -80px;
}

div#info {
    font-size: 12px;
    position: relative;
    top: 20px;
}


.btn-submitlicense button, .btn-submitlicense input {
	background-color: #55ab26;
    padding: 10px 0px;
    border: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    transition: all ease-in-out 450ms;
    -webkit-transition: all ease-in-out 450ms;
    -moz-transition: all ease-in-out 450ms;
    -ms-transition: all ease-in-out 450ms;
    -o-transition: all ease-in-out 450ms;
    width: 245px;
    cursor: pointer;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.createuserbuttonlicense {
    display: block;
    width: 100%;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-submitlicense {
    display: inline-block;
    float: left;
    width: 62%;
}

.btn-cancellicense {
    padding-top: 8px;
    display: block;
    width: 55%;
    float: left;
    margin-left: -80px;
}
/*********** modification css top user Aro *****************/

.sleft img {
    width: auto;
    border: 2px solid #d4d4d4;
    display: block;
    height: 41px;
}

.sright {
    float: left;
    margin-left: 10px;
}

.slicencemanager {
    width: 180px;
    background-color: #ffcc66;
    text-align: center;
    border: 1px solid #8f949a;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 11;
    padding: 10px;
    display: inline-block;
    position: relative;
    /*right: 356px;*/
    top: 15px;
	left: 10px;
}

.licencemanager {
    display: block;
    position: relative;
    background-color: #cccccc;
    height: 58px;
	border-top: 15px solid #999;
	/*modié*/
	margin-top: -4px;
}

.slicencemanager p {
    font-weight: bold;
    font-size: 14px;
}

.slicencemanageredit {
    width: 180px;
    background-color: #ffcc66;
    text-align: center;
    border: 1px solid #8f949a;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 11;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 10px;
    top: 15px;
}

.slicencemanageredit p {
    font-weight: bold;
    font-size: 14px;
}

.check-lic {
   padding: 5px;
    padding-top: 15px;
}

.check-lic input {
    float: left;
}

.check-lic p {
    float: left;
    padding-top: 2px;
    font-size: 15px;
    font-weight: 800;
    color: #616161;
	padding-left: 10px;
}

.dowloadlicense span {
    font-size: 13px;
    color: #169bd5;
    font-weight: bold;
}

.emaillicense {
    padding-top: 10px;
    padding-bottom: 30px;
}


i.fa.fa-trash {
    cursor: pointer;
}

.tab_fx,
.select_cat,
div#inner-top-panel {
    padding-left: 75px;
    padding-right: 75px;
	font-size: 14px;
}



/*.dataTables_wrapper {
    bottom: 18px;
}*/


td.choicecheck {
    text-align: left;
}


input#checkuser {
    appearence: none;
    -webkit-appearance: none;
    border: 1px solid #8f949a;
     width: 15px;
    height: 15px;
	font-family: "FontAwesome";
	color: #8f949a;
	content: "";
}



input#checkuser:checked:before {
	content: "\f00c";
	appearence: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    font-family: "FontAwesome";
    color: #8f949a;
	
}


input[type="checkbox"] {
    appearence: none;
    -webkit-appearance: none;
    border: 1px solid #8f949a;
     width: 15px;
    height: 15px;
	font-family: "FontAwesome";
	color: #8f949a;
	content: "";
}



input[type="checkbox"]:checked:before {
	content: "\f00c";
	appearence: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    font-family: "FontAwesome";
    color: #8f949a;
	
}


td.userstatut.suspended {
    color: red;
   
}

td.userstatut.active {
     color: #00CC00;
}

label.labelbold {
    font-weight: bold;
}

input.form-control.inputblue {
    font-weight: bold;
}

input.form-control.licred {
    color: #55ab26;
    font-weight: bold;
    border: none;
}

.createdateuser p {
    text-align: right;
    font-size: 12px;
    font-style: italic;
    color: #0066FF;
}


input.form-control.zipcode::-webkit-inner-spin-button {
    display: none;
}


input.form-control.zipcode {
 -moz-appearance: textfield;
  appearance: textfield;
}

table#DataTables_Table_0 tr td,
table#DataTables_Table_0 tr th {
    text-align: left;
	/*font-size: 13px;*/
	font-size:11px
}

span.block-erreur p {
    color: red;
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
	
}

td.boutonicone {
    font-size: 16px!important;
}

a.btn.btn-default {
    font-size: 13px;
}




.boutonicone a.btn.btn-default {
    font-size: 15px;
}

input[type="radio"] {
    position: relative;
    left: 6px;
    top: 1px;
}

td.choicecheck {
    position: relative;
    right: 6px;
}

.select_cat ul li a:hover {
    color: #000;
}


.boutonicone a.btn.btn-default {
    font-size: 15px;
}

.center_blccreate{
	max-width: 550px;
    margin: 0 auto;
    padding: 25px 25px 25px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}


.center_blccreate h3{
	text-transform: inherit;
    margin: 0;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    color: #6a6a6a;
	text-decoration: underline;
}


#header .top-panel {
    background: #fbfbfb;
    min-height: 40px;
    border-bottom: 1px solid #dddbdb;
    width: 100%;
    padding: 12px 10px;
    z-index: 100;
    height: 65px;
   
}	


.item-container .center_blc2 .editcustomer {
    max-width: 465px;
    margin: 0 auto;
    padding: 16px 20px 20px;
    border: 1px solid #333;
    background-color: #fff;
}



.editcustomer input.organisation, .editcustomer .createcustomertable input.form-control {
    width: 220px;
    height: 25px;
}




strong#titleupload {
    font-size: 30px;
}

.cancelupload {
    padding: 15px;
}


a.imglogo {
    padding-left: 10px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 18px 18px!important;
    border: none!important;
}

table#DataTables_Table_0 tr td {
    border: 1px solid white!important;
    padding: 10px 15px;
}

table#DataTables_Table_0 {
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044";
    color: gray;
}

.fa-trash:before {
    content: "\f1f8";
    color: gray;
}

/******************* message done *************/
i.fa.fa-3x.fa-check {
    background-color: #55ab26;
    border-radius: 50%;
    font-size: 34px;
    padding: 22px;
    color: #fff;
    border: 1px solid #41811c;
}

.iconmess {
    text-align: center;
    position: relative;	
    top: 33px;
	
}

.iconmessrest {
    text-align: center;
    margin-top: -60px;
}	


input.messok {
    background-color: #55ab26;
}

.dowloadlicense span a {
    font-weight: 300;
}

.dowloadlicense span  {
    margin:0;
	
}

h3.messdone {
   padding-bottom: 10px;
    padding-top: 15px;
    margin: 0!important;
}

span.ltl-consign.messlab {
    position: relative;
    bottom: 14px;
}

.fa-info-circle:before {
    content: "\f05a";
    color: #717171;
}

.dowloadlicense {
    border: 1px solid #169bd5;
    padding: 10px;
    position: relative;
    bottom: 20px;
    width: 65%;
    margin: auto;
}

i.fa.fa-3x.fa-download {
    font-size: 12px;
    color: #1c8ebf;
}

.downwithmail{
	font-weight: bold;
    position: relative;
    bottom: 20px;
}

.fa-download:before {
    content: "\f019";
    position: relative;
    right: 3px;
}

/******* forgot password **********/

.box-pop-up.forgotpass {
    text-align: center;
}

input.input.pwd {
    width: 470px;
}

input.input.rwd {
    width: 470px;
    margin-bottom: 20px;
}

.box-pop-up.restpass {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
}

.createuserbutton.fwd {
    padding-top: 24px;
}


.item-container.resetmessage {
    padding-top: 20px;
}

.fa-3x.fa-mess {
    font-size: 0;
}

.center_blc.resetmessage {
    padding-top: 10px;
}

i.fa.fa-3x.fa-times {
    background-color: red;
    border-radius: 50%;
    font-size: 34px;
    padding: 22px;
    color: #fff;
    border: 1px solid #900202;
    width: 24%;
}

/** input file import **/
.custom-inputfile {
 display: inline-block;
 max-width: 110px;
 padding-left: 8px;
}
.inputfiles {
 display: none !important
}
.inputfiles:focus + label,
.inputfiles.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.uploadform {
    padding-bottom: 20px;
    display: inline-block;
}

.spanslt span {
    color: #6a6a6a;
}

.spanslt {
    float: left;
    padding: 10px;
}
.inputfiles-1 + label {
    color: #fff;
    font-size: 13px;
    padding: 10px;
    display: inline-block;
    min-width: 110px;
    border: 1px solid #268cab;
}
.inputfiles-1:focus + label,
.inputfiles-1.has-focus + label,
.inputfiles-1 + label:hover {
    background-color: #268cab;

}

.inputfiles-1 + label:hover span {
    color:white;

}
	

.custom-inputfile span {
    color: #169bd5;
}

.btn-canceluser.upload {
    margin-left: -70px;
}


strong.upldtitle {
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 20px;
}

.center_blccreate.upload {
    padding-bottom: 45px;
}

.createuserbutton.uploaded {
    position: relative;
    bottom: 28px;
}

span.block-erreur.key p {
    color: red;
    text-align: left;
    font-size: 12px;
    position: relative;
    top: -20px;
    left: 10px;
}

.right.usr-create.triggerkey a {
    background-color: #268cab;
    width: 125px;
    text-align: center;
}


span.form-control.licred {
    color: #55ab26;
    font-weight: bold;
    float: left;
    padding-left: 10px;
}


span.form-control.inputspan {
    display: block;
    padding: 4px 1px;
    width: 100%;
    border: 1px solid #dadada;
    color: gray;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
	color: #268cab;
}

textarea#txtArea {
    display: block;
    padding: 4px 1px;
    width: 100%;
    border: 1px solid #dadada;
    color: gray;
    padding: 10px;
    margin-top: 5px;
}
/*********** modification sophie *****************/


.dataTables_filter{
    visibility: hidden;
}
.paging_simple_numbers{
    position: absolute;
    right: 70px;
    font-size: 14px;
}
.bottom{
    position:relative;
	border-radius: 0 0 7px 7px;
    padding: 0 1px;
    overflow: hidden;
}
.dataTables_info{
    display: inline-block;
    padding: 13px;
    background-color: #268cab;
    color: #fff !important;
    width: 100%;
    font-size: 14px;
}
.dataTables_length {
    position: absolute;
    right: 5px;
    top: 11px;
}
.dataTables_length {
    position: absolute;
    right: 5px;
}
.dataTables_length label {
    font-size: 0;
}
table.dataTable tr.even-row{ background-color: #f2fffb;}


select.form-control {
    display: block;
    padding: 4px 1px;
    width: 100%;
    border: 1px solid #dadada;
    color: gray;
    padding: 10px;
    margin-top: 5px;
}


.has-error{
    border: 1px solid #f00;
}

.block-erreur {
    font-size: 0.8em;
    color: #f00;
    padding-top: 5px;
    display: block;
    text-align: left;
    padding-left: 7px;
}

.duser1, .duser2{background: none;border: none;color: #169bd5;font-size: 14px;cursor: pointer;}
.duser1:hover, .duser2:hover{background: none;border: none;color: #000;font-size: 14px;cursor: pointer;}

.no-active { background-color: #999;border-color: #999;
}
.no-active {  color: #fff}
.no-active:hover {
    background-color: #d23c3c;
}
.no-active:hover{
    color: #fff;
    text-decoration: none;
}
.wrapper-onglet{
    position: absolute;
    left: 91px;
    top: -40px;
}

#wrapper-users i.fa.fa-3x.fa-search{
    top: 109px;
}

#wrapper-news i.fa.fa-3x.fa-search{
    top: 92px;
}